$background-color: #f0f0f0;
$water-color: #00f;

body {
	position: relative;
	overflow: hidden;
	margin: 0;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: $background-color;
}

.wave {
	display: flex;
	flex-direction: column;
	position: absolute;
    overflow: hidden;
	width: 100vw;
	bottom: 0;
	transition: height 0.1s;
	&-bg {
		background: #000;
		height: 100%;
		width: 100%;
	}
	svg {
		transform: rotate(180deg);
	}
}

h1 {
	display: none;
}

#start-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 50px;
	font-size: 18px;
	cursor: pointer;
}
